@using MashinAl.Business.Modules.DealerModule.Queries.DealetGetAllQuery
@model IEnumerable<DealerGetAllDto>

@{
    ViewBag.Title = "Avtosalonlar | Mashin.AL";
}

@{
    int count = Model.Count();
}


    <div class="page-banner">
        <div class="container">
            <div class="page-banner-thumbnail">
                <h1>Avtosalonlar</h1>
            </div>
        </div>
    </div>
    <section class="section dealership-section">
        <div class="container">
            <div class="section-header">
                <h1>Avtosalonlar (@count)</h1>
            </div>
            <div class="section-body">
                <div class="body-row" style="justify-content: flex-start !important">
                    @foreach (var item in Model)
                {
                    <div class="dealership-card">
                        <a asp-controller="Dealership" asp-action="Dealer" asp-route-id="@item.Id">
                            <div class="thumbnail">
                                <img src="~/uploads/images/@item.ImagePath" alt="">
                            </div>
                        </a>
                        <div class="info-side">
                            <span class="d-ship-name">@item.Name</span>
                            <span class="d-ship-contact"> @item.Phone</span>
                            <span class="announcement-quantity">@item.Count elan</span>
                        </div>
                    </div>
                }
                </div>
            </div>
        </div>
    </section>



@section breadcrumbs {
    <section class="section breadcrumbs-section">
        <div class="container">
            <div class="breadcrumbs">
                <a asp-controller="home" asp-action="index">Əsas</a>
                <a asp-controller="home" asp-action="dealerships">Avtosalonlar</a>
            </div>
        </div>
    </section>
}