@{
    ViewBag.Title = "Qeydiyyat Nişanları | Maşın Elanları Və Qiymətləri | Mashin.AL";
}


    <section class="section section-license-search">
        <div class="container">
            <div class="license-search-container">
                <div class="mark-icon">
                    <img src="~/frontside/assets/img/icons/registrationMarks_icons.svg" alt="">
                </div>
                <form action="license-search">
                    <select name="region-select" id="region-select" class="select-container">
                        <option value="" selected disabled></option>
                        <option value="01">01 - Abşeron</option>
                        <option value="02">02 - Ağdam</option>
                        <option value="03">03 - Ağdaş</option>
                        <option value="04">04 - Ağcabədi</option>
                        <option value="05">05 - Ağstafa</option>
                        <option value="06">06 - Ağsu</option>
                        <option value="07">07 - Astara</option>
                        <option value="08">08 - Baləkən</option>
                        <option value="09">09 - Bərdə</option>
                        <option value="10">10 - Bakı</option>
                        <option value="11">11 - Beyləqan</option>
                        <option value="12">12 - Biləsuvar</option>
                        <option value="14">14 - Cəbrayıl</option>
                        <option value="15">15 - Cəlilabad</option>
                        <option value="16">16 - Daşkəsən</option>
                        <option value="17">17 - Dəvəçi</option>
                        <option value="18">18 - ƏliBayramlı</option>
                        <option value="19">19 - Füzuli</option>
                        <option value="20">20 - Gəncə</option>
                        <option value="21">21 - Gədəbəy</option>
                        <option value="22">22 - Goranboy</option>
                        <option value="23">23 - Göyçay</option>
                        <option value="24">24 - Hacıqabul</option>
                        <option value="25">25 - Xanlar</option>
                        <option value="26">26 - Xankəndi</option>
                        <option value="27">27 - Xaçmaz</option>
                        <option value="28">28 - Xocavənd</option>
                        <option value="29">29 - Xızı</option>
                        <option value="30">30 - İmişli</option>
                        <option value="31">31 - İsmayıllı</option>
                        <option value="32">32 - Kəlbəcər</option>
                        <option value="33">33 - Kürdəmir</option>
                        <option value="34">34 - Qax</option>
                        <option value="35">35 - Qazax</option>
                        <option value="36">36 - Qəbələ</option>
                        <option value="37">37 - Qobustan</option>
                        <option value="38">38 - Qusar</option>
                        <option value="39">39 - Qubadlı</option>
                        <option value="40">40 - Quba</option>
                        <option value="41">41 - Laçın</option>
                        <option value="42">42 - Lənkəran</option>
                        <option value="43">43 - Lerik</option>
                        <option value="44">44 - Masallı</option>
                        <option value="45">45 - Mingəçevir</option>
                        <option value="46">46 - Naftalan</option>
                        <option value="47">47 - Neftçala</option>
                        <option value="48">48 - Oğuz</option>
                        <option value="49">49 - Saatlı</option>
                        <option value="50">50 - Sumqayıt</option>
                        <option value="51">51 - Samux</option>
                        <option value="52">52 - Salyan</option>
                        <option value="53">53 - Siyəzən</option>
                        <option value="54">54 - Sabirabad</option>
                        <option value="55">55 - Şəki</option>
                        <option value="56">56 - Şamaxı</option>
                        <option value="57">57 - Şəmkir</option>
                        <option value="58">58 - Şuşa</option>
                        <option value="59">59 - Tərtər</option>
                        <option value="60">60 - Tovuz</option>
                        <option value="61">61 - Ucar</option>
                        <option value="62">62 - Zaqatala</option>
                        <option value="63">63 - Zərdab</option>
                        <option value="64">64 - Zəngilan</option>
                        <option value="65">65 - Yardımlı</option>
                        <option value="66">66 - Yevlax</option>
                        <option value="67">67 - Babək</option>
                        <option value="68">68 - Şərur</option>
                        <option value="69">69 - Ordubad</option>
                        <option value="70">70 - Naxçıvan</option>
                        <option value="71">71 - Şahbuz</option>
                        <option value="72">72 - Culfa</option>
                        <option value="75">75 - Naxçıvan</option>
                        <option value="77">77 - Bakı</option>
                        <option value="85">85 - Naxçıvan</option>
                        <option value="90">90 - Bakı</option>
                        <option value="99">99 - Bakı</option>

                    </select>
                    <select name="letter-select" id="letter-select-1" class="select-container">
                        <option value="" disabled selected></option>
                        <option value="A">A</option>
                        <option value="A">A</option>
                        <option value="A">A</option>
                        <option value="A">A</option>
                        <option value="A">A</option>
                        <option value="A">A</option>
                    </select>
                    <select name="letter-select" id="letter-select-2" class="select-container">
                        <option value="" disabled selected></option>
                        <option value="A">A</option>
                        <option value="A">A</option>
                        <option value="A">A</option>
                        <option value="A">A</option>
                        <option value="A">A</option>
                        <option value="A">A</option>
                    </select>
                    <input type="number" class="select-container" id="select-numbers" maxlength="3">
                    <button type="submit" class="submit-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <section class="section">
                <div class="section-header">
                    <h1>Elanlar</h1>
                </div>
                <div class="section-body">
                    <div class="section-card-row">
                        <div class="license-plate-card">
                            <div class="license-plate">
                                <div class="mark-icon">
                                    <img src="~/frontside/assets/img/icons/registrationMarks_icons.svg"
                                         alt="" />
                                </div>
                                <span class="license-plate-number"> 10-XX-041 </span>
                            </div>
                            <div class="license-plate-body">
                                <div class="license-body-header">
                                    <span class="license-plate-price">1 500 AZN</span>
                                    <span class="license-add-to-favorites">
                                        <a href="#"><i class="fa-regular fa-bookmark"></i></a>
                                    </span>
                                </div>
                                <span class="license-plate-owner">Vaqif</span>
                                <div class="license-plate-bottom">
                                    <span class="license-date license-icons">
                                        <i class="fa-regular fa-calendar"></i> 23 noyabr
                                    </span>
                                    <span class="license-location license-icons">
                                        <i class="fa-solid fa-location-dot"></i> Bakı
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>


@section breadcrumbs {
    <section class="section breadcrumbs-section">
        <div class="container">
            <div class="breadcrumbs">
                <a asp-controller="home" asp-action="index">Əsas</a>
                <a asp-controller="home" asp-action="licenseplates">Qeydiyyat Nişanları</a>
            </div>
        </div>
    </section>
}