@{
    ViewBag.Title = "Mağazalar | Mashin.AL";
}


<div class="page-banner">
    <div class="container">
        <div class="page-banner-thumbnail">
            <h1>Mağazalar</h1>
        </div>
    </div>
</div>
<section class="section dealership-section">
    <div class="container">
        <div class="section-header">
            <h1>Mağazalar (3)</h1>
        </div>
        <div class="section-body">
            <div class="body-row">
                <div class="dealership-card">
                    <div class="thumbnail">
                        <img src="~/frontside/assets/img/dealership-logos/asia-motors.webp" alt="">
                    </div>
                    <div class="info-side">
                        <span class="d-ship-name">ASIA Motors - MG</span>
                        <span class="d-ship-contact"> +994 50 214 84 50</span>
                        <span class="announcement-quantity">18 elan</span>
                    </div>
                </div>
                <div class="dealership-card">
                    <div class="thumbnail">
                        <img src="~/frontside/assets/img/dealership-logos/asia-motors.webp" alt="">
                    </div>
                    <div class="info-side">
                        <span class="d-ship-name">ASIA Motors - MG</span>
                        <span class="d-ship-contact"> +994 50 214 84 50</span>
                        <span class="announcement-quantity">18 elan</span>
                    </div>
                </div>
                <div class="dealership-card">
                    <div class="thumbnail">
                        <img src="~/frontside/assets/img/dealership-logos/asia-motors.webp" alt="">
                    </div>
                    <div class="info-side">
                        <span class="d-ship-name">ASIA Motors - MG</span>
                        <span class="d-ship-contact"> +994 50 214 84 50</span>
                        <span class="announcement-quantity">18 elan</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@section breadcrumbs {
    <section class="section breadcrumbs-section">
        <div class="container">
            <div class="breadcrumbs">
                <a asp-controller="home" asp-action="index">Əsas</a>
                <a asp-controller="home" asp-action="shops">Mağazalar</a>
            </div>
        </div>
    </section>
}