@model Seats
@{
    ViewData["Title"] = "Yer sayı | Yeni Yer Sayı";
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">Yeni Yer Sayı Əlavə Etmək</h5>
        <div class="card">
            <div class="card-body">
                <form method="post" id="createForm">
                    <div class="mb-3">
                        <label class="form-label">Yer sayı</label>
                        <input asp-for="SeatTitle" type="text" class="form-control" required>
                    </div>
                    <a asp-action="index" class="btn btn-primary">Geri</a>
                    <button type="button" onclick="addEntity()" class="btn btn-success">Əlavə et</button>
                </form>
            </div>
        </div>
    </div>
</div>



@section addjs {
    <script>
        function addEntity() {
            // Serialize the form data
            var formData = $('#createForm').serialize();

            // Perform AJAX request
            $.ajax({
                url: '@Url.Action("Create")',
                type: 'POST',
                data: formData,
                success: function (response) {
                    if (response.success) {

                        toastr.success("Yer sayı uğurla əlavə olundu!", "Uğurlu nəticə!");


                        setTimeout(function () {
                            window.location.href = '@Url.Action("Index")';
                        }, 3000);
                    } else {

                        toastr.error(response.message, "Xəta!");
                    }
                },
                error: function (response) {
                    console.log(response);
                    toastr.error("Yer sayı əlavə etmək əməliyyatı üzrə xəta yarandı!", "Xəta!");
                }
            });
        }
    </script>

}