@using MashinAl.Business.Modules.ModelModule.Queries.ModelGetByIdQuery
@model ModelGetByIdDto

@{
    ViewData["Title"] = Model.Name + " | Dəyişiklik et";
}


<div class="card">
    <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">@Model.Name | Ətraflı </h5>
        <div class="card">
            <div class="card-body">
                <form method="post">
                    <div class="mb-3">
                        <label class="form-label">Model adı</label>
                        <input asp-for="Name" type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Aid olduğu Marka</label>
                        <select asp-for="MarkaId" asp-items="@ViewBag.MarkaId" class="form-control">
                            <option selected disabled>@Model.MarkaName</option>
                        </select>
                    </div>
                    <a asp-action="index" class="btn btn-primary">Geri</a>
                    <button type="submit" class="btn btn-success">Yadda saxla</button>
                </form>
            </div>
        </div>
    </div>
</div>



