
@{
    ViewData["Title"] = "Səhifə tapılmadı | Mashin.Al";
}

<div class="container" style="display:flex;justify-content:center;flex-direction:column;align-items:center; margin-top:20px;">
    <img src="~/frontside/assets/img/svg/404.svg"/>
    <h3 style="color:black; font-size:15px; margin-top:10px;">Belə bir səhifə tapılmadı!</h3>
    <a style="margin-top:10px;" asp-controller="Home" asp-action="Index" class="btn btn-green">Ana səhifəyə qayıt</a>
</div>

