@using MashinAl.Business.Modules.PlateModule.Queries.PlateGetByIdQuery
@model PlateGetByIdDto
@{
    ViewData["Title"] = "Details";
}

<h1>@Model.RegionTitle-@Model.FirstLetter@Model.SecondLetter-@Model.PlateNumber</h1>

