<nav class="pcoded-navbar">
    <div class="pcoded-inner-navbar main-menu">
        <div class="pcoded-navigatio-lavel">Əsas</div>
        <ul class="pcoded-item pcoded-left-item">
            <li>
                <a asp-controller="Dashboard" asp-action="Index">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Əsas Panel</span>
                </a>
            </li>

            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon">
                        <i class="feather icon-folder"></i>
                    </span>
                    <span class="pcoded-mtext">Kataloqlar</span>
                </a>
                <ul class="pcoded-submenu">
                    <li>
                        <a asp-controller="Marka" asp-action="Index">
                            <span class="pcoded-mtext">Markalar</span>
                        </a>
                    </li>
                    <li class="">
                        <a asp-controller="Model" asp-action="Index">
                            <span class="pcoded-mtext">Modellər</span>
                        </a>
                    </li>
                    <li class="">
                        <a asp-controller="Color" asp-action="Index">
                            <span class="pcoded-mtext">Rənglər</span>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</nav>
