$headerColor: #081a3e;
$redColor: #f81734;
$greenColor: #29a53e;
$greenColorHover: #1c9831;
$blueSolidColor: rgba(21,94,239,.8);
$colorBackgroundGray: #EEF2F6;


$iconBlueColor: #155EEF;
$iconGreenColor: #32B878;

